# ==================== PERFIL ====================
SPRING_PROFILES_ACTIVE=prod

# ==================== API ====================
SERVER_PORT=8080
API_PUBLIC_PORT=8080

# ==================== DATABASE ====================
POSTGRES_DB=ayni_trazabilidad
DB_USERNAME=ayni_user
DB_PASSWORD=pcruzadog2077
DATABASE_URL=jdbc:postgresql://postgres:5432/ayni_trazabilidad
DB_URL=jdbc:postgresql://postgres:5432/ayni_trazabilidad

# ==================== JWT ====================
JWT_SECRET=4PLo2XZ4seCTStNZmr7WZQBVHLmHj3vr2+utGhWv8eN9/CAnz5rtnJ/DjSi4RoaV
JWT_EXPIRATION=1800000
JWT_REFRESH_EXPIRATION=604800000

# ==================== SECURITY ====================
CORS_ORIGINS=https://linea.aynisac.com
RATE_LIMIT_AUTH=3
RATE_LIMIT_API=60

# ==================== ADMIN ====================
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminayni123
# Solo true en primer despliegue para crear/sincronizar admin
ADMIN_BOOTSTRAP_ENABLED=true
DATA_INITIALIZER_ENABLED=false

# ==================== APP ====================
LOG_LEVEL=WARN
SHOW_SQL=false
DDL_AUTO=validate
LOG_FILE=/app/logs/ayni-trazabilidad.log
MAX_FILE_SIZE=50MB
MAX_REQUEST_SIZE=55MB

SPRING_FLYWAY_ENABLED=true
SPRING_FLYWAY_LOCATIONS=classpath:db/migration
SPRING_FLYWAY_BASELINE_ON_MIGRATE=true
SPRING_FLYWAY_BASELINE_VERSION=0

BUCKET_BASE_URL=https://pub-9bd94d035e4f45b08c74e1095e276016.r2.dev
R2_ENDPOINT=https://712a7efe3d001aee239d894911dcd33f.r2.cloudflarestorage.com
R2_BUCKET_NAME=ayni-trazabilidad
R2_ACCESS_KEY_ID=7fe36b6950712903c092630a435d4bd5
R2_SECRET_ACCESS_KEY=01e306ffcdbdd243548a527147d923737b54b65ee81fb4ee59c441ddf318db90
R2_PRESIGN_EXPIRATION_SECONDS=300
